/* HeaderContainer 스타일 */
.HeaderContainer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

/* LogOut 버튼 스타일 */
.button.LogOut {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #007bff;
  color: white;
  border: 1px solid #007bff;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.button.LogOut:hover {
  background-color: #0056b3;
  border-color: #004085;
  transform: scale(1.1); /* 호버 시 버튼 확대 */
}
