@font-face {
  font-family: "Spoqa-light";
  src: url("../font/SpoqaHanSansNeo-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Spoqa-Bold";
  src: url("../font/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

.HeaderContainer {
  display: flex;
  padding: 20px 17px;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* background: linear-gradient(135deg, #5896f1, #0f16a4); 파란색 그라데이션 */
  height: 20px;
}

.HeaderContainer .TitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.LogoutBtn:hover {
  transform: scale(1.1); /* 호버 시 버튼 확대 */
}

.Logout {
  display: flex;
  align-items: center;
  gap: 20px;
}
.User {
  display: flex;
  align-items: center;
  gap: 5px;
}
p {
  font-family: Spoqa-light;
}
Button {
  font-family: Spoqa-Bold;
}
