.Home {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 60px 0;
}

.HomeContents {
  display: flex;
  width: 100%;
}

.HomeContentsTitle {
  padding: 20px;
}

@font-face {
  font-family: "Spoqa-Mid";
  src: url("../font/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Spoqa-Bold";
  src: url("../font/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

.Title {
  width: 500px;
  text-align: left;
  margin: 10px;
  height: 50px;
}
.Information {
  width: 500px;
  text-align: left;
}
.Link {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 100%;
  justify-content: space-between;
}
.IMG {
  opacity: 0.4;
  filter: brightness(50%); /* 검은색 */
}
.Box {
  background-size: cover;
  position: relative;
  display: inline-block;
  padding: 0;
}
.text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
  text-align: center;
  width: 100%;
  color: white;
  font-family: Spoqa-light;
}

.hyperlink {
  width: 300px;
}
h2 {
  font-weight: bold;
  font-family: Spoqa-Bold;
}
h1 {
  font-family: Spoqa-Bold;
}
h4 {
  font-family: Spoqa-light;
  font-weight: 400;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.weather-day {
  display: flex;
  width: 130px;
  height: 150px;
  flex-direction: column;
  align-items: center;
}

.date {
  font-size: 16px;
  color: rgb(101, 104, 104);
}

.temp-range {
  font-size: 17px;
  margin: 5px 0;
  color: rgb(100, 100, 240);
}
.highest-temp {
  color: red;
  font-size: 18px;
  font-weight: bold;
}
.rain-chance {
  font-size: 13px;
  margin: 5px 0;
  color: rgb(100, 100, 240);
  font-weight: bold;
}

.ico {
  display: inline-block;
  width: 45px; /* 원하는 크기로 설정 */
  height: 45px; /* 원하는 크기로 설정 */
  background-repeat: no-repeat;
  background-size: 238px 204px; /* 원본 크기로 유지 */
  background-position: center; /* 배경 이미지를 중앙에 배치 */
}

.ico_wt7 {
  background-image: url(https://ssl.pstatic.net/static/weather/image/sp_icon_weather_346e83fd.png);
  background-position: 100% 60%;
  background-repeat: no-repeat;
}

.ico_wt5 {
  background-image: url(https://ssl.pstatic.net/static/weather/image/sp_icon_weather_346e83fd.png);
  background-position: 100% 20%;
  background-repeat: no-repeat;
}
.ico_wt1 {
  background-image: url(https://ssl.pstatic.net/static/weather/image/sp_icon_weather_346e83fd.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}
