body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgba(221, 240, 243, 0.3);
}
.wave {
  position: absolute;
  top: 93%;
  left: 128%;
  width: 200vw;
  height: 200vw;
  margin-left: -100vw;
  margin-top: -196vw;
  border-radius: 40%;
  z-index: 1;
}
.wave.-one {
  animation: waveAnimation 15000ms infinite linear;
  opacity: 0.8;

  background: rgb(6, 8, 102);
}
.wave.-two {
  animation: waveAnimation 18000ms infinite linear;
  opacity: 0.2;
  background: rgb(141, 224, 235);
}

@keyframes waveAnimation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.main {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 1000px;
  z-index: 2;
}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/Login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9; /* 투명도 조절 */
  z-index: 0; /* 다른 요소들보다 아래에 위치 */
}

form {
  padding: 10px;
  display: flex;
  margin: 0 4%;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  width: 20%;
  height: 260px;
  border: 1px solid rgba(221, 240, 243, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5%;
  z-index: 2;
}
.login {
  margin: 10px;
}
button {
  width: 100%;
}
p {
  width: 100%;
}
