main {
  margin: 0px;
  padding: 20px;
  background-color: #e4e8ee;
}
.main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chart-box1,
.chart-box2,
.chart-box3,
.chart-box4,
.chart-box5 {
  border: 1px solid rgb(211, 211, 211);
  flex-direction: column;
  background-color: white;
  width: 85%;
}

.chart-box1 {
  width: 48.5%;
  height: 350px;
}

.chart-box2 {
  width: 25%;
  height: 350px;
}

.chart-box3 {
  width: 25%;
  height: 350px;
}

.chart-box4 {
  width: 100%;
  height: 450px;
}

.chart-box5 {
  width: 100%;
  height: 450px;
}

.Chart {
  display: flex;
  flex-direction: row;
}

.boxHeader {
  width: 100%;
  box-sizing: border-box;
}
