@font-face {
  font-family: "Spoqa-Mid";
  src: url("../font/SpoqaHanSansNeo-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Spoqa-Bold";
  src: url("../font/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

.MuiTablePagination-root {
  box-sizing: border-box; /* 패딩 및 보더 포함하여 전체 크기 계산 */
  display: none;
}
.MuiDataGrid-footerContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #fffcfc; /* 페이지네이션 배경색 */
  height: 70px;
}
.MuiButtonBase-root {
  padding: 0;
}
.container {
  padding: 10px;
  justify-content: center;
}

.MuiDataGrid-row {
  background-color: #f5f5f5; /* 기본 행 배경색 */
}
/* 전체 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 20px; /* 스크롤바의 너비 */
}

/* 스크롤바의 트랙 (스크롤바가 지나가는 배경) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* 배경색 */
  border-radius: 2px; /* 트랙의 모서리 둥글게 하기 */
  padding: 2px; /* 트랙의 여백 설정 (스티크 핸들과의 간격) */
}

/* 스크롤바의 핸들 (사용자가 드래그할 부분) */
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5); /* 핸들의 배경색 (투명한 회색) */
  border-radius: 8px; /* 핸들의 모서리 둥글게 하기 */
  border: 3px solid #f1f1f1; /* 핸들의 외곽선 색상 */
  margin: 2px; /* 핸들과 트랙 사이의 간격 조정 */
}

/* 스크롤바의 핸들에 호버 시 스타일 */
::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.8); /* 핸들 호버 시 배경색 */
}
.Contact {
  width: 90px;
  padding: 10px;
  justify-content: center;
  margin: 0 40px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.Contact:hover {
  transform: scale(1.1); /* 호버 시 버튼 확대 */
}
.Chooser {
  width: 100%;
}
