@font-face {
  font-family: "Spoqa-light";
  src: url("../font/SpoqaHanSansNeo-Light.ttf") format("truetype");
}

Aside {
  display: flex;
  flexdirection: column;
  height: 945px;
  width: 250px;
  background: #3490dd;
  border-right: 8px solid rgba(255, 255, 255, 0.5);
}
.menu {
  display: flex;
  align-item: center;
  overflow: hidden;
  height: 53px;
}

h5 {
  color: #edeeff;
  font-family: "Spoqa-light";
  font-size: 18px;
  line-height: 4px; /* 이 요소의 텍스트를 기준으로 위 아래 기준 텍스트를 가운데 정렬시킴 */
}
.icon {
  display: flex;
  padding: 7px; /* 아이콘 주변 여백 */
  margin: 10px;
  justifycontent: center;
  aligncontent: center;
  width: 35px;
}

.menu:hover {
  background-color: #3456dd; /* 호버 시 배경색 */
  color: #ffd700; /* 호버 시 아이콘 색상 */
  transform: scale(1.06);
  overflow-y: hidden;
}
.menu.active {
  background-color: #3456dd; /* 호버 시 배경색 */
  color: #ffd700; /* 호버 시 아이콘 색상 */
  transform: scale(1.06);
  overflow-y: hidden;
}
