@font-face {
  font-family: "Spoqa-light";
  src: url("../font/SpoqaHanSansNeo-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Spoqa-bold";
  src: url("../font/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}

aside {
  display: flex;
  flex-direction: column;
  height: 945px;
  width: 250px;
  background: #3490dd;
  border-right: 8px solid rgba(255, 255, 255, 0.5);
}

.menu {
  display: flex;
  overflow: hidden;
  height: 55px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.28);
}

h5 {
  color: #edeeff;
  font-family: "Spoqa-light";
  font-size: 15px;
  line-height: 4px;
  margin: 25px 22px; /* 텍스트를 위아래로 중앙 정렬 */
  text-align: center;
}

.icon {
  display: flex;
  padding: 7px; /* 아이콘 주변 여백 */
  margin: 10px;
  width: 35px;
}

.menu:hover {
  background-color: #3456dd; /* 호버 시 배경색 */
  color: #ffd700; /* 호버 시 텍스트 색상 */
  transform: scale(1.06);
  overflow-y: hidden;
  border-bottom: hidden;
}

.menu.active {
  background-color: #3456dd; /* 활성화된 상태의 배경색 */
  color: #ffd700; /* 활성화된 상태의 텍스트 색상 */
  transform: scale(1.06);
  overflow-y: hidden;
}

/* quote 스타일 */
.quote {
  background: linear-gradient(
    120deg,
    #8eaccd,
    #d2e0fb
  ); /* 부드러운 그라데이션 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 15%;
  color: black;
  font-family: "Spoqa-light";
  font-size: 16px;
  margin-top: auto;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 100px;
  border-radius: 15px; /* 모서리 둥글게 */
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
  animation: fadeIn 1s ease-in-out; /* 텍스트 페이드 인 애니메이션 */
  opacity: 0.9;
}

/* quote-label 스타일 */
.quote-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  font-family: "Spoqa-bold";
  color: black;
}

/* quote 텍스트 애니메이션 */
.quote p {
  margin-top: 20px;
  width: 220px;
  font-family: "Spoqa-mid";
  opacity: 0;
  animation: textFadeIn 0.8s ease-in forwards; /* 텍스트 페이드 인 애니메이션 */
}

/* 페이드 인 애니메이션 정의 */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
